.hotel-gallery-section {
  padding: 0px 40px;
  text-align: center;
}




.hotel-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 15px;
}

.hotel-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.35s ease;
}

.hotel-img:hover {
  transform: scale(1.04);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
  cursor: pointer;
}
